/* Header */
.home:not(.blog) #header-wrapper {position: absolute;margin-bottom: 0;}

/* Svg animation */

/* svg .path
{
  stroke-dasharray: 1100; 
  stroke-dashoffset: 0; 
  animation: dash 10s linear forwards infinite, filling 10s ease-in forwards infinite;
  stroke-width: 1; 
}
  @keyframes dash {
    from {
      stroke-dashoffset: 1100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes filling {
    0%, 50% {
      fill: currentColor;
      fill-opacity: 0;
    }
    100% {
      fill: currentColor;
      fill-opacity: 1;
    }
  }
  svg .hand-shape 
  { 
    stroke-dasharray: 2500; 
    stroke-dashoffset: 0; 
    animation: line 15s linear forwards infinite, line-filling 15s ease-in forwards infinite; 
  }
  @keyframes line {
    from {
      stroke-dashoffset: 2500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes line-filling {
    0%, 50% {
      fill: #ffffff;
      fill-opacity: 0;
    }
    100% {
      fill: #ffffff;
      fill-opacity: 1;
    }
  } */


.wdt-custom-image-position.elementor-widget-image img { object-position: right;}
.wdt-blend-overlay-image.elementor-widget.elementor-widget-image{mix-blend-mode: overlay;}

/* Button Style */

/* .wdt-button,
input[type="submit"], 
input[type="reset"], 
input[type="button"], 
button[type="button"], 
*[role="button"], 
button, 
.button, 
a.button, 
.wp-block-button 
.wp-block-button__link, 
.wp-block-file a.wp-block-file__button, 
.wp-block-search .wp-block-search__button,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button{background-image: linear-gradient(90deg, var(--wdtPrimaryColor), transparent);} */
.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-text, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-text{background: transparent;}


/* contact address */
.wdt-custom-contact-address .wdt-heading-holder h5, 
.wdt-custom-contact-address .elementor-icon-list-icon+.elementor-icon-list-text,
.wdt-custom-contact-address .elementor-icon-list-icon i,
.wdt-custom-contact-address .wdt-button-holder .wdt-button { transition: all 0.5s ease-in-out; }
.wdt-custom-contact-address:hover .elementor-widget-wdt-heading .wdt-heading-holder h5, 
.wdt-custom-contact-address:hover .elementor-icon-list-icon+.elementor-icon-list-text, 
.wdt-custom-contact-address:hover .elementor-icon-list-icon i{ color: var(--wdt-elementor-color-white) !important;}
.wdt-custom-contact-address:hover .wdt-button-holder.wdt-template-filled .wdt-button { background-color: var(--wdt-elementor-color-white) !important; color: var(--wdtPrimaryColor) !important;}
.wdt-custom-contact-address .wdt-button-holder.wdt-template-filled .wdt-button:hover { color: var(--wdtAccentTxtColor) !important; background-color: var(--wdtSecondaryColor) !important;} 
.wdt-custom-contact-address:hover .elementor-icon-list-item a:hover .elementor-icon-list-text { color: var(--wdtSecondaryColor) !important;}
.wdt-custom-contact-address:hover .wdt-button-holder.wdt-template-textual .wdt-button{color: var(--wdtAccentTxtColor) !important;}
.wdt-custom-contact-address:hover .wdt-button-holder.wdt-template-textual .wdt-button:hover{color: var(--wdtSecondaryColor) !important;}
.wdt-custom-contact-address .wdt-button .wdt-button-text:after {content: '';position: absolute;background: currentColor;width: 100%;height: 2px;left: 0;bottom: 0;transition: var(--wdtBaseTransition);}
.wdt-custom-contact-address .wdt-button:hover .wdt-button-text:after {width: 0;}
.gm-style-mtc button {border-radius: 0;box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;}

/* Search form */
.wdt-custom-search-form #searchform, .wdt-custom-search-form #searchform input[type="text"] { max-width: 100%; width: 100%; }
.wdt-custom-search-form #searchform input[type="text"] { padding: 18px 45px; padding-right: 160px; background-color: #F2F2F2; border-radius: 28px; border: none;font-size: var(--wdtFontSize_H6); }  
.wdt-custom-search-form #searchform input[type="submit"] { background-color: var(--wdtPrimaryColor); font-size: var(--wdtFontSize_Base); text-indent: 0; }
.wdt-custom-search-form #searchform input[type="submit"] { width: 150px; }
.wdt-custom-search-form #searchform input[type="submit"]:focus, .wdt-custom-search-form #searchform input[type="submit"]:hover { background-color: var(--wdtSecondaryColor); }

/* Donation Single */
.wdt-fullwidth-btn .wdt-button-holder,
.wdt-fullwidth-btn .wdt-button-holder .wdt-button
{
  width: 100%;
}

/* icon-box */

.wdt-custom-icon-box1.elementor-widget-icon-box .elementor-icon-box-title{margin-top: 0;}
.wdt-custom-icon-box1.elementor-widget-icon-box .elementor-icon-box-title a{color: #0000;text-shadow: 0 0 #bc9997, -1em 0 #0000, 1em 0 #0000;transition: 0.3s ease-in-out;}
.wdt-custom-icon-box1.elementor-widget-icon-box .elementor-icon-box-title a:hover {text-shadow: 0 0 #0000, 0 0 #bc9997, 0 0 #bc9997;}

/* Footer Social icon */

#footer .elementor-widget-social-icons .elementor-grid .elementor-grid-item .elementor-social-icon
{
  display: inline-flex;
  font-size: var(--icon-size,25px);
  line-height: var(--icon-size,25px);
  width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
  height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
}


.wdt-flex-banner-absolute .elementor-widget.elementor-widget-icon-list .elementor-icon-list-text, 
.wdt-flex-banner-absolute .elementor-widget.elementor-widget-icon-list .elementor-icon-list-text:hover{color: var(--wdtHeadAltColor);}
body.tribe_events-template.tribe_events-template-elementor_theme.single.single-tribe_events .wdt-default-footer {margin-top: 0;}


.wdt-opacity-icon-1 svg{opacity: 0.1;}
.wdt-opacity-icon-2 svg{opacity: 0.2;}

/* woocommerce */

.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_inline_buttons .wc_btn_inline
{border-radius: 50px !important;}
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-button a, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-button a.button, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-button button, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-button button.button, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-button .button
{
  font-family: var(--wdtFontTypo_Base);
  font-size: var(--wdtFontSize_Base);
  font-weight: 400;
  border-radius: 50px;
  line-height: normal !important;
}
.woocommerce ul.products[class*="product-hover-"] li.product .product-wrapper
{background-color: transparent;}
.woocommerce.creedy-products-type-2 ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_inline_buttons .wc_btn_inline
{
  background-color: #C4B28C; 
}
.woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.yith-wcqv-button:before
{
  content: "\e825" !important ;
}
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons a:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons a.button:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons button:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons button.button:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons .button:before
{font-size: 24px !important;}

.woocommerce ul.products.product-thumb-iconsgroup-style-simple li.product .product-thumb .product-buttons-wrapper.product-icons .wc_inline_buttons
{
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  max-width: 250px;
  width: 100%;
}
.woocommerce.creedy-products-type-2 ul.products.product-thumb-iconsgroup-position-horizontal.horizontal-position-bottom li.product .product-thumb .product-buttons-wrapper.product-icons .wc_inline_buttons:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 85px;
  background: var(--wdtAccentTxtColor);
  left: 0;
  right: 0;
  margin: auto;
  bottom: -5px;
}
.woocommerce.creedy-products-type-2 ul.products.product-thumb-iconsgroup-position-horizontal.horizontal-position-bottom li.product .product-thumb .product-buttons-wrapper.product-icons .wc_inline_buttons:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  background: var(--wdtAccentTxtColor);
  left: 0;
  right: 0;
  margin: auto;
  bottom: 60px;
}
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons a:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons a.button:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons button:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons button.button:before, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons .button:before
{
  font-size: 30px;
}
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons a, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons a.button, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons button, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons button.button, 
.woocommerce ul.products li.product .product-thumb .product-buttons-wrapper.product-icons .button
{
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  color: var(--wdtAccentTxtColor) !important;
}
.woocommerce.creedy-products-type-2 ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_inline_buttons .wc_btn_inline
{
  background-color: #C4B28C !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline:hover, 
.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline a:hover, 
.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline a.button:hover, 
.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline button:hover, 
.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline button.button:hover, 
.woocommerce ul.products.product-thumb-buttonelement-style-simple li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline .button:hover
{
  color: var(--wdtAccentTxtColor) !important;
}
.elementor .wdt-product-image.swiper-slide img
{
 width: 100%;
}
.woocommerce ul.products[class*="product-thumb-iconsgroup-position"] li.product .product-thumb .product-buttons-wrapper.product-icons
{
  margin: 0;
}
.wcwl_btn_wrapper.wc_btn_inline.hint--top
{margin-right: 10px;}
.woocommerce ul.products[class*="position-bottom"] li.product .product-thumb .product-buttons-wrapper.product-icons
{
  margin: 0;
}

/* quickview */

#yith-quick-view-modal .yith-wcqv-main{
  -webkit-box-shadow: none;
  box-shadow: none;}

#footer .elementor-widget-social-icons .elementor-grid .elementor-grid-item .elementor-social-icon{align-items: center;justify-content: center;}



/* Event Archive page */

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event{flex-direction: row;}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row{flex-direction: row-reverse;align-items: center;}


/* Donation Form */
table#give_donation_receipt .give-receipt-thead-text{color: var(--wdtHeadAltColor);}
[id*=give-form] div#give-sidebar-left,
[id*=give-form] div.summary{width: 100%;}
[id*=give-form] .give-form-title{font-size: var(--wdtFontSize_H2);letter-spacing: -3px;margin-top: 20px;}
.give-goal-progress .raised{font-size: 0;display: flex;align-items: center;justify-content: space-between;}
.give-goal-progress span {font-size: 20px !important;}
.give-goal-progress .income{margin-right: auto;}
.give-goal-progress .give-progress-bar{height: 8px;background-color: transparent;border: 1px solid var(--wdtPrimaryColor);border-radius: 0;}
.give-goal-progress .give-progress-bar>span{background: var(--wdtPrimaryColor) !important;border-radius: 0;}
#give-recurring-form .form-row .give-input-field-wrapper, #give-recurring-form .form-row input[type=email], #give-recurring-form .form-row input[type=password], #give-recurring-form .form-row input[type=tel], #give-recurring-form .form-row input[type=text], #give-recurring-form .form-row input[type=url], #give-recurring-form .form-row select, #give-recurring-form .form-row textarea, form.give-form .form-row .give-input-field-wrapper, form.give-form .form-row input[type=email], form.give-form .form-row input[type=password], form.give-form .form-row input[type=tel], form.give-form .form-row input[type=text], form.give-form .form-row input[type=url], form.give-form .form-row select, form.give-form .form-row textarea, form[id*=give-form] .form-row .give-input-field-wrapper, form[id*=give-form] .form-row input[type=email], form[id*=give-form] .form-row input[type=password], form[id*=give-form] .form-row input[type=tel], form[id*=give-form] .form-row input[type=text], form[id*=give-form] .form-row input[type=url], form[id*=give-form] .form-row select, form[id*=give-form] .form-row textarea
{
  border: none;
  border-bottom: 1px solid rgba(var(--wdtHeadAltColorRgb),0.15);
  padding-left: 0;
  margin-bottom: 10px;
  background: transparent;
}
#give-recurring-form .give-section-break, #give-recurring-form h3.give-section-break, #give-recurring-form h4.give-section-break, #give-recurring-form legend, form.give-form .give-section-break, form.give-form h3.give-section-break, form.give-form h4.give-section-break, form.give-form legend, form[id*=give-form] .give-section-break, form[id*=give-form] h3.give-section-break, form[id*=give-form] h4.give-section-break, form[id*=give-form] legend
{border: none;}
div#give_show_terms a {
  margin-bottom: 20px;
  margin-top: 0;
}
form[id*=give-form] .give-donation-amount #give-amount, form[id*=give-form] .give-donation-amount #give-amount-text,
form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-before,
form[id*=give-form] #give-final-total-wrap .give-final-total-amount,
form[id*=give-form] #give-final-total-wrap .give-donation-total-label
{ 
  border: 1px solid var(--wdtPrimaryColor);}
form[id*=give-form] #give-final-total-wrap .give-donation-total-label,
form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-before
{
  background-color: 1px solid var(--wdtPrimaryColor);
}

body.page-template.page-template-tpl-side-nav.page-template-tpl-side-nav-php #primary.content-full-width
{overflow: visible;}
.donation-vector-bg.elementor-widget.elementor-widget-spacer
{
  pointer-events: none;
}
.wpcf7-spinner{margin-bottom: -24px;}
section.related.products {
  margin-top: 50px;
}
form[id*=give-form] input[type=checkbox]
{
  margin-top: -4px;
}
body.post-template.post-template-elementor_theme.single.single-post .wdt-default-footer {
  margin-top: 0;
}
body.search.search-results .wdt-default-footer {
  margin-top: 0;
}
.wdt-custom-contact-address > div{position: relative;z-index: 1;}
.wdt-custom-contact-address > div:after {
  content: '';
  position: absolute;
  background-color: var(--wdtPrimaryColor);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: var(--wdtBaseTransition);
  transition: var(--wdtBaseTransition);
  clip-path: inset(0% 0% 0% 100%);
}
.wdt-custom-contact-address:hover > div:after {
  clip-path: inset(0% 0% 0% 0%);
}
.woocommerce .loader::before{display: none !important;}

.elementor-element.elementor-widget-text-editor .elementor-widget-container a{color: inherit;}

.wdt-header-type-2 .elementor-element.elementor-widget-text-editor .elementor-widget-container a{color: inherit;}

.wdt-header-type-2 .elementor-element.elementor-widget-text-editor .elementor-widget-container a:hover {color: #BC9997;}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .woocommerce.single-product div.images span.onsale span, 
    .woocommerce-product-gallery span.onsale span, 
    .wdt-product-image-gallery-container span.onsale span, 
    #yith-quick-view-content span.onsale span, 
    .woocommerce.single-product div.images span.out-of-stock span, 
    .woocommerce-product-gallery span.out-of-stock span, 
    .wdt-product-image-gallery-container span.out-of-stock span, 
    #yith-quick-view-content span.out-of-stock span
    {
      padding-left: 5px;
    }
       }
}



/* Media query For tablet */


/* portfolio */
@media only screen and (min-width:1921px)
{
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth img
  {
    height:380px;
    object-fit: cover;
    object-position: center top;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth:nth-child(3) img
  {
    height:794px;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth:nth-child(7) img
  {
    height:794px;
    object-position: center;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-third img
  {
    height:380px;
    object-fit: cover;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth:nth-child(10) img
  {
    height:380px;
  }
}


@media only screen and (min-width:1541px)
{
  .wdt-flex-banner-absolute.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default{right: -35%;width: 520px;}
}
@media only screen and (max-width: 1750px) and (min-width: 1541px)
{
  .wdt-flex-banner-absolute.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default{right: -10%;}
}
@media only screen and (min-width:1281px)
{
  .wdt-flex-banner-absolute.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default{position: absolute;bottom: 0;}
}
@media only screen and (max-width: 1540px) and (min-width: 1281px)
{
  .wdt-flex-banner-absolute.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default{right: -12%;width: 450px;}
  /* .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column{padding: 0 10px 5px;}
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-listings-item-wrapper{margin-bottom: 20px;} */
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth img
  {
    height:268px;
    object-fit: cover;
    object-position: center;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth:nth-child(3) img
  {
    height:571px;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth:nth-child(7) img
  {
    height:571px;
    object-position: center;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-third img
  {
    height:268px;
    object-fit: cover;
  }
  .wdt-listing-output-data-container .wdt-listing-output-data-holder .wdt-listings-container .wdt-column.wdt-one-sixth:nth-child(10) img
  {
    height:268px;
  }
  
}
@media only screen and (min-width:1281px)
{
  .wdt-custom-search-form #searchform input[type="text"]
  {
    font-size: 14px;
  }
}
@media only screen and (max-width:480px)
{
  .wdt-custom-search-form #searchform input[type="text"]
  {
    padding-right: 100px;
  }
  .wdt-custom-search-form #searchform input[type="submit"]
  {
    width: 100px;
    padding: 0;
  }
  .wdt-iconlist-align-top .elementor-widget .elementor-icon-list-item, 
  .wdt-iconlist-align-top .elementor-widget .elementor-icon-list-item a{align-items: start;}
  .wdt-iconlist-align-top .elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon{margin-top: 6px;}

}


.tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry.product.type-product .entry-date{ display: none;}
.tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry.product.type-product .entry-title{margin-top: 40px;}